!*.py
!.gitignore
!README.md
!*.nc
!*.csv
!aerosol_ifs_rrtm_49R1_20230119.nc

*jpg
*png
*log*
*job
.ipynb_checkpoints
*aaa*
*temp*
*test*
*2025*txt
*aa*
atlid_cams_ext.txt
ectools
3may.py
4may.py
april_2025/plotting_tools/__pycache__/
not_used/
figures
interpolate_mmr*
scripts/april_2025/5_aeronet/aeronet_vs_modis/ne_110m_admin_0_countries/
scripts/april_2025/5_aeronet/modis_vs_atlid/ne_110m_admin_0_countries/
scripts/april_2025/5_aeronet/ne_110m_admin_0_countries/
scripts/april_2025/3_co-located_orbits/curtain_plots/*csv
*ipynb

scripts/april_2025/1_global_aod/histograms/
scripts/april_2025/1_global_aod/march.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/1_co-located_cams_atlid_.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/2_matched_lat_lon_time_v13_save_variance.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/3_co-located_cams_atlid_uncertainty.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/4_uncertainty_co-located_cams_atlid.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/filter_uncertainty_total_aod/2025_statistics.txt
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/filter_uncertainty_total_aod/2025_day_statics.txt
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/filter_uncertainty_total_aod/2025_night_statics.txt
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/march.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/may.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/multiple_h5_TROPOMI_vs_CAMS.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/multiple_h5_trapz_median_mean_filterCAMScloud.py
scripts/april_2025/1_global_aod/regrid_based_on_the_saved_txt/multiple_h5_trapz_median_mean_vs_TROPOMI.py
scripts/april_2025/2_extinction_prof/2_temp0.py
scripts/april_2025/2_extinction_prof/2_temp6.py
scripts/april_2025/2_extinction_prof/2_temp9.py
scripts/april_2025/2_extinction_prof/lat_lon_co-located/
scripts/april_2025/2_extinction_prof/multiple_h5_median_mean_allheights_saveNetCDF.py
scripts/april_2025/2_extinction_prof/with_err_1_multiple_h5_median_mean_single_height_saveNetCDF.py
scripts/april_2025/3_co-located_orbits/test_matched_lat_lon_time_v13_save_aeronet_aod.py
scripts/april_2025/3_co-located_orbits/v11_august.py
scripts/april_2025/3_co-located_orbits/v13_0_august.py
scripts/april_2025/3_co-located_orbits/v13_aod_august.py
scripts/april_2025/3_co-located_orbits/v13saveMarch.py
scripts/april_2025/4_composition_specific/1_TTcal/filter_uncertainty_TTcal/2025_statistics_TTcal_dust.txt
scripts/april_2025/4_composition_specific/1_TTcal/filter_uncertainty_TTcal/2025_statistics_TTcal_ssa.txt
scripts/april_2025/4_composition_specific/1_TTcal/not_used_4_TTcal_aod_per_composition_TTcal.py
scripts/april_2025/4_composition_specific/1_TTcal/old_aerosol_ifs_rrtm_46R1_with_NI_AM.nc
scripts/april_2025/4_composition_specific/1_TTcal/old_extNetCDF_1_TTcal_cams_extinction_with_time_dim.py
scripts/april_2025/4_composition_specific/2_AngstromCal/1_convert_to_355nm.py
scripts/april_2025/4_composition_specific/2_AngstromCal/3_matched_lat_lon_time_v13_save_cams_aod.py
scripts/april_2025/4_composition_specific/2_AngstromCal/4_co-located_cams_atlid_.py
scripts/april_2025/4_composition_specific/2_AngstromCal/filter_uncertainty_AngstromCal/2025_statistics_angstrom_dust.txt
scripts/april_2025/4_composition_specific/2_AngstromCal/filter_uncertainty_AngstromCal/2025_statistics_angstrom_ssa.txt
scripts/april_2025/4_composition_specific/assign_total_AOD_to_speciation/
scripts/april_2025/5_aeronet/aaa.py
scripts/april_2025/5_aeronet/kdtree_vs_sel.py
scripts/april_2025/5_aeronet/temp.py
scripts/april_2025/5_aeronet/test_atlid_to_aeronet.py
scripts/april_2025/all_orbits.py
scripts/april_2025/v2.py


